<?xml version="1.0" encoding="UTF-8"?>
<element>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Filter</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>PrimeNumberValidationFilter</display-name>
    <filter-name>PrimeNumberValidationFilter</filter-name>
    <filter-class>PrimeNumberValidationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PrimeNumberValidationFilter</filter-name>
    <url-pattern>/PrimeNumberValidationFilter</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>NumberCheckServlet</display-name>
    <servlet-name>NumberCheckServlet</servlet-name>
    <servlet-class>NumberCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NumberCheckServlet</servlet-name>
    <url-pattern>/NumberCheckServlet</url-pattern>
  </servlet-mapping>
</web-app>
</element>