<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>DemoServlet</display-name>
    <servlet-name>DemoServlet</servlet-name>
    <servlet-class>Shamshad.DemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoServlet</servlet-name>
    <url-pattern>/DemoServlet</url-pattern>
  </servlet-mapping>
  <display-name>DemoServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>sm</display-name>
    <servlet-name>sm</servlet-name>
    <servlet-class>samdu.sm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sm</servlet-name>
    <url-pattern>/sm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>khan</display-name>
    <servlet-name>khan</servlet-name>
    <servlet-class>samdu.khan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>khan</servlet-name>
    <url-pattern>/khan</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>filter</display-name>
    <filter-name>filter</filter-name>
    <filter-class>in.sp.filter.filter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>filter</filter-name>
    <url-pattern>/filter</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>PrimeCheck</display-name>
    <filter-name>PrimeCheck</filter-name>
    <filter-class>in.sp.filter.PrimeCheck</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PrimeCheck</filter-name>
    <url-pattern>/PrimeCheck</url-pattern>
  </filter-mapping>
</web-app>